.Latestwork{
    height: 1000px;
    background-color: grey;
}

.latest{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    padding-top: 40px;
    padding-bottom: 5px;
}
.i1{
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.i2{
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 20px;
}
.grid1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 55px;
}

